@import '/uni_modules/uview-plus/theme.scss';

text,
text::before,
text::after,
view,
view::before,
view::after,
scroll-view,
textarea,
input,
form,
image,
video {
  box-sizing: border-box;
  font-size: 28rpx;
  color: #424242;
  padding: 0;
  margin: 0;
}

@mixin flex-cc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-bc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-ac {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin flex-sc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@mixin flex-cbc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-ccc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-cac {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@mixin flex-rc {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin bg-con {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}
@mixin bespread {
  width: 100%;
  height: 100%;
}
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin text-overflow($line: 1) {
  @if ($line==1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    overflow: hidden;
  }
}

@mixin gradient-bg {
  background-image: url('https://fangtian-education.oss-cn-beijing.aliyuncs.com/app/icon/miniapp/gradient-background-20250710.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #E5E5F9 !important;
}

.flex-cc {
  @include flex-cc;
}
.flex-bc {
  @include flex-bc;
}
.flex-ac {
  @include flex-ac;
}
.flex-cbc {
  @include flex-cbc;
}
.flex-ccc {
  @include flex-ccc;
}
.flex-cac {
  @include flex-cac;
}
.flex-sc {
  @include flex-sc;
}
.flex-rc {
  @include flex-rc;
}
.bg-con {
  @include bg-con;
}
.gradient-bg {
  @include gradient-bg;
}
